<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyuleelim.admincore.user.mapper.UserMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (
             username,
             password,
             name,
             email,
             use_yn,
             created_at,
             updated_at
        )
        VALUES (
             #{username},
             #{password},
             #{name},
             #{email},
             #{useYn},
             CURRENT_TIMESTAMP,
             CURRENT_TIMESTAMP
        )
    </insert>
    
    <update id="updateUser" parameterType="com.kyuleelim.admincore.user.dto.UserUpdateReqDto">
        UPDATE user
        <set>
            <trim suffixOverrides=",">
                <if test="user.username !=null">
                    username = #{user.username},
                </if>
                <if test="user.password != null">
                    password = #{user.password},
                </if>
                <if test="user.email != null">
                    email = #{user.email},
                </if>
                <if test="user.useYn != null">
                    use_yn = #{user.useYn},
                </if>
                updated_at = NOW()
            </trim>
        </set>
        WHERE id = #{id}
    </update>

    <!--  User Soft Delete  -->
    <delete id="deleteUser">
        UPDATE user
           SET use_yn = 'N', updated_at = NOW()
         WHERE id = #{id}
    </delete>

    <!--  사용하는 사용자 단건 조회  -->
    <select id="findById" resultType="com.kyuleelim.admincore.user.domain.User">
        SELECT id, username, email, created_at
          FROM user
         WHERE id = #{id}
           AND use_yn = 'Y'
    </select>

    <!--  목록 조회 + 조건 + 페이징  -->
    <select id="findAll" resultType="com.kyuleelim.admincore.user.domain.User">
        SELECT *
          FROM user
        <where>
            use_yn = 'Y'
            <if test="searchType != null and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'username'">
                        AND username
                       LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'email'">
                        AND email
                       LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{limit}
       OFFSET #{offset}
    </select>

    <!--  전체 건 수 조회  -->
    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM user
        <where>
            use_yn = 'Y'
            <if test="searchType != null and keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'username'">
                        AND username
                       LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'email'">
                        AND email
                       LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>
</mapper>